# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code, and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Deploy Workzy Website

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [20.x]
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"

            - name: Install dependencies
              run: npm install

            - name: Clean build
              run: npm run clean

            - name: Build
              run: npm run build

            - name: Swagger
              run: npm run swagger

            - name: Copy package.json
              run: cp package.json dist/package.json

            - name: Copy Swagger
              run: mkdir -p dist/config && cp src/config/swagger-output.json dist/src/config/swagger-output.json

            - name: Pushes to deploy repository
            run: |
                git config --global user.email "depoyer.workzy@noreply.com"
                git config --global user.name "Deployer Workzy Website"
                git clone https://deployerworkzy:${{ secrets.API_TOKEN_GITHUB }}@github.com/lehoangtrong/workzy-deploy
                cd workzy-deploy
                ls -la ../dist
                echo "Files in dist directory:"
                cp -r ../dist/* .
                git add .
                git commit -m "Deploy Workzy Website"
                git push -u origin main            
